

.main-tasks-class{
    width: 60%;
    margin-inline: auto;
    /* background: white; */
    position: relative;
}

.shufle-text{
    background-color: red;
    width: 50%;
    position: relative;
    text-align: end;
    margin-right: 10px;
    left: 50%;
 
    padding-block: 3px;
    padding-inline: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.add-task-text{
    background-color: rgb(16, 237, 16);
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin-inline: auto;
    cursor: pointer;
}

